<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.team10.mc.SpotHOT">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.wifi"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:logo="@drawable/app"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <!-- Activities -->

        <activity
            android:name="com.team10.mc.SpotHOT.activity.StartActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.team10.mc.SpotHOT.activity.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:noHistory="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.team10.mc.SpotHOT.activity.AboutActivity"
            android:label="@string/app_name"
            android:parentActivityName="com.team10.mc.SpotHOT.activity.MainActivity" />

        <activity
            android:name="com.team10.mc.SpotHOT.activity.ScheduleActivity"
            android:parentActivityName="com.team10.mc.SpotHOT.activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.team10.mc.SpotHOT.activity.MainActivity" />
        </activity>

        <!-- Receivers -->

        <receiver
            android:name="com.team10.mc.SpotHOT.receiver.BootCompletedReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.team10.mc.SpotHOT.receiver.TetheringStateReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.wifi.WIFI_AP_STATE_CHANGED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.team10.mc.SpotHOT.receiver.TetheringWidgetProvider"
            android:label="SpotHOT">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget" />
        </receiver>
        <receiver
            android:name="com.team10.mc.SpotHOT.receiver.ChargeBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.team10.mc.SpotHOT.receiver.NetworkConnectionReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.wifi.WIFI_AP_STATE_CHANGED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <!-- Services -->
        <service
            android:name="com.team10.mc.SpotHOT.service.TetheringService"
            android:enabled="true"
            android:exported="true" />

    </application>

</manifest>